.button {
  border: 5px solid var(--bg-green-title);
  border-radius: 15px;
  background-color: var(--bg-green-bottom);
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
}
.button:active {
  border: 5px solid var(--text-green);
}
