.button {
  height: 6vh;
  width: 6vw;
  border: 5px solid var(--bg-green-title);
  border-radius: 15px;
  background-color: var(--bg-green-bottom);
  margin-left: 1vw;
  margin-right: 1vw;
}
.button:active {
  border: 5px solid var(--text-green);
}
