---
import Layout from "../layouts/Layout.astro";
import CardFood from '../components/CardFood'
---

<Layout title="Welcome to Astro.">
  <main class="w-1/2 bg-green-100 mt-3 p-1 rounded-xl">
    <CardFood client:visible />
  </main>
</Layout>


