---
import Layout from "../layouts/Layout.astro";
import CardFood from '../components/CardFood'
import ClickButton from "../components/element/ClickButton";
---

<Layout title="Alimentos Diabetes">
  <main class="w-2/3 max-lg:w-full bg-green-100 mt-3 p-1 rounded-xl">
    <CardFood client:visible />
    <a href="/calculadora" class="flex justify-center">
      <ClickButton name={'Calculadora Libre'} color={'green'} click={() => {}} />
    </a>
  </main>
</Layout>


