---
import Layout from "../layouts/Layout.astro"
import ClickButton from '../components/element/ClickButton'
---
<Layout title="Infomación Uso Alimentos Diabetes">
		<section class="w-2/3 max-lg:w-full bg-green-100 p-5 mt-3 rounded-xl">
			<h1 class="flex justify-center mb-3 font-bold">Información sobre los datos</h1>
			<p>Los datos que hay en la apliación han sido sacados de la página de la <span>Fundación para la Salud</span></p>
			<p>En el siguiente enlace se puede descargar el pdf de donde se han extraido todos los datos</p>
			<section class="flex justify-center">
				<a
					href="https://www.fundacionparalasalud.org/sabercomer/tabla_de_raciones_de_hidratos_de_carbono"
					target="_blank"
					rel="noopener">
				<ClickButton name={'Descargar pdf'} color={'green'} click={() => {}} />
			</a>
			</section>

			<h3>Uso de la apliación</h3>
			<p>Después de hacer la busqueda, no usar tildes. En el recuadro que hay dentro de Calculadora ponemos los gramos(gr) o centrimetro cúbicos(cc) y cuando pulsemos "Uds", nos indicarán las cantidades de insulina a inyectarse</p>
			<p>Las "Uds" se están multiplicando por la indicación "1 Ración de HC en gramos o cc". Que esta indicando cada cuantos gramos es una unidad de insulina</p>
			<p>Si pulsamos "Ver más" podremos ver los ejemplo que encontramos en el pdf de algunos alimentos.</p>
		</section>
		<a href="/">
			<ClickButton name={'Atras'} color={'green'} click={() => {}} />
		</a>
	</Layout>
