---
import Instagram from "./icons/Instagram.astro";
---

<section>
  <h5 class="flex flex-row justify-center items-center my-6">
    App creada
    <a
      href="https://www.instagram.com/rortegaez"
      target="_blank"
      rel="noopener"
    >
      <Instagram class="mx-2" />
    </a>
  </h5>
</section>
