#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f0f0ce;
  --bg-green-title: #2e9d0c;
  --bg-green-main: #a5e6b0;
  --bg-green-bottom: #99e31e;
  --text-green: #032e09;
}
