---
import Title from "../components/Title.astro";
import Footer from "../components/Footer.astro";
import ClickButton from '../components/element/ClickButton'

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-lime-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center mt-5">
    <Title />
    <slot />
    <Footer />
  </body>
</html>
